main{
    background-image: url("assets/cars5.png");
    background-size:cover;
    background-attachment: fixed;
}
.border{
    background-color: #ff0000;
    border-radius: 20 20 20 20;
    border-color: white;
    font-size: 40px;
    color:white;
    font-weight: bolder;
    
}
.border:hover{
    background-color: #ff0000;
    color: white;
}
.img{
    width: 500px;
    height: auto;
}
.box{
    /* margin-left: 20px !important; */
    padding: 30px;
    font-size:large;
    color: white;
    font-weight: bolder;
    background-color: #ff0000;
    border-radius: 20%;
    border-color: 20 20 20 20 white !important;
}